<configuration>
  <appSettings>
    <!--Files-->
    <add key="log_directory" value="log\\"/>
    
    <add key="rigid_upper" value="..\\..\\data\\study2_subjectBenedikt\\rigid_bodies\\upper.rig"/>
    <add key="rigid_lower" value="..\\..\\data\\study2_subjectBenedikt\\rigid_bodies\lower.rig"/>
    
    <!--Stylus-->    
    <add key="stylus" value="..\\..\\data\\study2_subjectBenedikt\\rigid_bodies\\round_stylus.rig"/>
    
    <add key="artisynth_lower" value="..\\..\\data\\study2_subjectBenedikt\\fiducials\\lower_spheres_artisynth.xyz"/>
    <add key="artisynth_upper" value="..\\..\\data\\study2_subjectBenedikt\\fiducials\\upper_spheres_artisynth.xyz"/>

    <add key="digitize_upper" value="..\\..\\data\\study2_subjectBenedikt\\fiducials\\digitize_upper_certus.xyz"/>
    <add key="digitize_lower" value="..\\..\\data\\study2_subjectBenedikt\\fiducials\\digitize_lower_certus.xyz"/>
    
    <!--Application Parameters -->
    <add key="debug" value="false"/>    
    <add key="sleep" value="0"/>  <!--milliseconds, during capture-->
    <add key="FORBody" value="0"/>
    <!--//0: none , 1: RigidBody#1, 2: RigidBody#2-->
    <add key="server_name" value="certus_final"/>
    <add key="server_name_raw" value="certus_raw"/>
 
    <!--RigidBody Indices-->
    <add key="stylus_index" value="0"/>      
    <add key="upper_index" value="1"/>  
    <add key="lower_index" value="2"/>  
    
    <!--Writing Tracking data-->
    <add key="write_transformation" value="true"/>  
    <add key="write_raw_data" value="true"/>  
    <add key="tracking_directory" value="..\\..\\data\\study2_subjectBenedikt\\trajectories\\"/>  
    <add key="write_format" value="ArtiSynth_probe"/>

    <!--Writing Tracking data-->
    <add key="register_on_the_fly" value="true"/>
    
    <add key="digitize" value="false"/>

  </appSettings>
</configuration>